<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
  </head>
  <body>
    <main>
      <form action="/user/login" method="post">
        <fieldset>
          <label for="registerEmail">Email</label>
          <input type="email" name="email" id="registerEmail" />
        </fieldset>
        <fieldset>
          <label for="registerPassword">Password</label>
          <input type="password" name="password" id="registerPassword" />
        </fieldset>
        <fieldset>
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>
